
.iexport-table {
    margin:0;
}

.iexport-table thead {
    background-color: black;
    color: white;
}

.iexport-table td {
    border: 1px solid black;
    padding: 5px 15px;
}

.iexport-table ul {
    margin-bottom: 0;
    padding:5px;
}

.iexport-table a {
    text-decoration: none;
}

.iexport-table canvas {
    /*border: 1px solid blue;*/
    background: #CCCCCC;
}

.iexport-table .dashicons {
    font-size:28px;
    vertical-align: center;
    padding-right: 4px;
}

.iexport-toolbar .dashicons {
    font-size:22px;
    padding-left: 2px;
    padding-right: 2px;
}

.iexport-toolbar {
    display: inline-block;
}
.iexport-toolbar .dashicons {
    font-size:22px;
    padding-left: 2px;
    padding-right: 2px;
}
.iexport-toolbar button {
    height: 34px;
}
#importzone button {
    height: 34px;
}
#exporttb button {
    height: 34px;
}

#importzone {
    padding-left: 10px;
}



#exportzone {
    padding-left: 10px;
}

#msgzone {
    display: inline-block;
    padding-left: 15px;
    vertical-align: bottom;
    font-family: monospace;
    font-size:16px;


}

#toolbarzone {
    width: 100%;
    white-space:nowrap;
    overflow:hidden;
}